*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family:"monospace";
    font-size: 1;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color:whitesmoke;
    padding: 8px 20px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 10px black;
}
/* Home Section*/
#Home{
    display:flex;
    flex-direction: column;
    background-color:rgba(0,0,0,0.5);
    height: 800px;
    justify-content: center;
    align-items: center;
    color:white;
}
#Home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("knitting2.jpg") no-repeat center center/cover;
    height: 800px;
    width: 100%;
    z-index: -1;
    opacity: .8; 
}
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family:monospace;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
/* About Section */
#About{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    background-color: rgb(0,0,0,0);
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;

}
/* Gallery Section*/
#Gallery{
    display: flex;
    flex-direction: column;
    background-color:blanchedalmond;
    color: black;
    align-items: center;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing:border-box ;
}
.gallery img{
    width: 200px;
    height: 170px;
    margin: 10px;
}
/* Contact Me*/
#Contact{
    background-color: blanchedalmond;
}